/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Прелоадер*/
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}
/*Навбар*/
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
main{
    color: #FFFFFF;
}
a{
    text-decoration: none;
}
nav{
    height: 7vh;
}
.navbar-menu{
    background: rgba(102, 154, 226, .5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-menu ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.navbar-menu ul li a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-menu ul li a::after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #FFFFFF;
    transition: width 0.3s ease-in-out;
}
.navbar-menu ul li a:hover:after,
.navbar-menu ul li a:focus:after {
    width: 100%;
}
/*Футер*/
footer{
    height: 7vh;
    font-size: 18px;
    background: rgba(102, 154, 226, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: #FFFFFF;
    text-align: center;
}
/*Главная*/
main{
    min-height: 86vh;
}
.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.registration-btn img{
    border-radius: 50%;
    box-shadow: 0 0 50px white;
    animation: button-rotate .3s infinite;
}
.registration-btn img{
    position: relative;
    left: 60px;
    width: 550px;
    height: 550px;
    transition: .3s;
}
.registration-btn img:hover{
    transition: .3s;
    width: 600px;
    height: 600px;
}
.registration-btn span{
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
}
.registration-right{
    display: flex;
    align-items: end;
    height: 98%;
}
.registration-stesha{
    height: 100%;
    z-index: 3;
    position: relative;
    top: 8px;
}
@keyframes button-rotate {
    50% {
        transform: scale(1.009);
    }
    100%{
        transform: scale(1);
    }
}

.players{
    width: 95%;
    margin: 30px auto 0 auto;
    display: flex;
    gap: 30px;
    justify-content: start;
    flex-wrap: wrap;
}
.player-card{
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    color: #FFFFFF;
}
.player-info{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.player-card img{
    width: 210px;
    height: 210px;
}

/*CRM*/
.CRM{
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100%;
    text-align: center;
}
.CRM-left, .CRM-right{
    width: 50%;
    height: 700px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 42px;
    color: #FFFFFF;
}

.players-table td{
    border: 1px groove white;
    width: 260px;
    height: 60px;
    text-align: center;
}
.players-table tr td form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players-table tr td form button{
    color: #FFFFFF;
    background: #4b5563;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 1.1rem;
    transition: .3s;
}
.players-table tr td form button:hover{
    transition: .3s;
    background: #ff2a2a;
}
.players-form input, .players-form button{
    font-size: 1.05rem;
    padding: 10px 10px;
    width: 300px;
}
.players-h1, .players-form{
    margin-bottom: 20px;
}

/*map*/
.mappool-h1{
    text-align: center;
    margin: 20px 0;
}
.details{
    width: 90%;
    margin: 20px auto;
}
.summary{
    height: 50px;
    padding: 20px 0 0 20px;
    font-size: 25px;
    border-radius: 10px;
}
/*.summary-white{*/
/*    color: black;*/
/*    background: #ffffff;*/
/*}*/
.summary-blue{
    background: #669AE2;
}
.summary-red{
    background: #ED654E;
}
.summary-green{
    background: #4BD98A;
}
.summary-yellow{
    background: #E8D662;
}
.map-card{
    color: white;
    width: 95%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
/*.map-card-white {*/
/*    background: rgba(255, 255, 255, 0.55);*/
/*}*/
.map-card-blue{
    background: rgba(102, 154, 226, 0.55);
}
.map-card-red {
    background: rgba(237, 101, 78, 0.55);
}
.map-card-green{
    background: rgba(75, 217, 138, 0.55);
}
.map-card-yellow {
    background: rgba(232, 214, 98, 0.55);
}
.map-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    transform: rotate(-90deg);
    font-size: 36px;
}
.map-img{
    padding: 20px 0 20px 20px;
    width: 70%;
}
.map-stats{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 20%;
    height: 90px;
}
.map-stats-left,.map-stats-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
